{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block title %}
	Home
{% endblock title %}
{% block body_block %}
<div class="container">
	<form action="{% url 'referral_new' %}">
	<button type="submit" class="btn btn-danger btn-lg btn-block visible-xs">New Referral</button>
	</form>
	<h3 align="center">Today's Referrals</h3>
	
</div>

{% if object_list %}
	<div id='referrals-today'>
	{% for referral in object_list %}
	{% if today <= referral.datetime.date %}
			<div class="container col-sm-6 col-md-6 col-lg-4" data-grade='{{ referral.scholar.grade }}' data-advisory='{{ referral.scholar.advisory }}'>
				<div class="panel panel-default">
					 <div class="panel-heading">
						<h3 class="panel-title" align='center'><a href = "{% url 'referral' referral.pk %}"><strong>{{referral.scholar.first_name}}</strong> sent by <strong>{{ referral.staff.prefix }} {{ referral.staff.user.last_name }}</strong></a></h3>
						<h3 class = 'panel-title datetimestamp' align='center'>
						({{referral.datetime|date:"g:i a"}} -- {{ referral.datetime|timesince }} ago)</h3>
					</div>
					<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Scholar: <a href="{% url 'scholar' referral.scholar.pk %}">{{ referral.scholar }}</a></li>
						<li class="list-group-item">Staff: {{ referral.staff }}</li>
						<li class="list-group-item">Time: {{ referral.datetime }}</li>
						<li class="list-group-item">Reason: {{ referral.reason }}</li>
						<li class="list-group-item">Consequence: {{ referral.consequence }}</li>
					</ul>
					{% if user.is_authenticated and user.staff == referral.staff or user.is_authenticated and user.is_staff %}
					<div class="btn-group btn-group-justified">
						<a href = "{% url 'referral_delete' referral.pk %}" class="btn btn-warning" >Delete</a>
						<a href = "{% url 'referral_edit' referral.pk %}" class="btn btn-primary ">Edit</a>
					</div>
					{% else %}
					<button class='btn btn-block' disabled>Restricted</button>
					{% endif %}	
					</div>
				</div> <!--end one referral-->
			</div>
		

	{% endif %} 
	{% endfor %}
	</div>	<!--End of today's list-->
<div class="container">
	<div class="clearfix"></div>	
	<div class="panel panel-default">
		<div class="panel-heading">
		   <strong>Previous Referrals</strong> 
		   <br>Sort and search through previous referrals below.
		</div>
		<table class="table table-hover table-striped table-condensed" id='previous-table'>
			<thead>
				<tr>
					<th>Date</th>
					<th>Scholar</th>
					<th class='hidden-xs'>Staff</th>
					<th class='hidden-xs'>Reason</th>
					<th class='hidden-xs hidden-sm'>Description</th>
					<th>Consequence</th>
				</tr>
			</thead>
			<tbody>
			{% for referral in object_list %}
			{% if today > referral.datetime.date %}
				<tr class='click-row' data-href="{% url 'referral_edit' referral.pk %}">
					<td>{{ referral.datetime.date |date:"D, M j" }}</td>
					<td>{{ referral.scholar }}</td>
					<td class='hidden-xs'>{{ referral.staff.user.last_name }}</td>
					<td class='hidden-xs'>{{ referral.reason }}</td>
					<td class='hidden-xs hidden-sm'>{{ referral.description }}</td>
					<td>{{ referral.consequence }}</td>
				</tr>
			{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% else %}
<h2>No referrals.</h2>
{% endif %}
	
{% endblock body_block %}
