{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block body_block %}
<div class="container">
	<form action="{% url 'referral_new' %}">
	<button type="submit" class="btn btn-danger btn-lg btn-block visible-xs">New Referral</button>
	</form>
	<h1 align="center">Referrals</h1>
	
</div>

{% if object_list %}
	{% for referral in object_list %}
	<div class="container col-sm-6 col-md-4 col-lg-4">
		<div class="panel panel-default">
			 <div class="panel-heading">
				<h3 class="panel-title"><a href = "{% url 'referral' referral.pk %}">#{{ referral.pk }}: {{referral.scholar.first_name}}, sent by {{ referral.staff.user.last_name }} ({{ referral.datetime.time}})</a></h3>
			</div>
			<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">Scholar: <a href="{% url 'scholar' referral.scholar.pk %}">{{ referral.scholar }}</a></li>
				<li class="list-group-item">Staff: {{ referral.staff }}</li>
				<li class="list-group-item">Time: {{ referral.datetime }}</li>
				<li class="list-group-item">Reason: {{ referral.reason }}</li>
				<li class="list-group-item">Consequence: {{ referral.consequence }}</li>
			</ul>
			{% if user.is_authenticated %}
			<div class="btn-group btn-group-justified">
				<a href = "{% url 'referral_delete' referral.pk %}" class="btn btn-warning" >Delete</a>
				<a href = "{% url 'referral_edit' referral.pk %}" class="btn btn-primary ">Edit</a>
			</div>
			{% endif %}	
			</div>
			</div> <!--end one referral-->
		</div>


	{% endfor %}
{% else %}
<h2>No referrals.</h2>
{% endif %}
	
{% endblock body_block %}
