body{
	padding-top:80px;
}

.panel{
	min-width: 345px;
}

.autocomplete-light-widget input,
.autocomplete-light-widget input:focus {
    width: 100% !important;
}

.autocomplete-light-widget {
    width: 390px !important;
}

