body{
	padding-top:80px;
}

.asteriskField {
	visibility: hidden;
}

.click-row {
	cursor: pointer;
}

.form-group > label {
	font-weight: bold;
}

.datetimestamp {
	padding-top: 7px;
}

.dataTables_wrapper {
	padding:10px;
}
.panel{
	min-width: 345px;
}

.edit-head{
	font-size: 15px;
}

.autocomplete-light-widget input,
.autocomplete-light-widget input:focus {
    width: 100% !important;
}

.autocomplete-light-widget {
    width: 310px !important;
}

#reason-list{
	margin-left: 20px;
}

form > .well, .jumbotron {
	border: 1px solid;
	border-color: #666666;
}


.center-button {
	text-align: center;
}
