body{
	padding-top:80px;
}

.asteriskField {
	visibility: hidden;
}

.form-group > label {
	font-weight: bold;
}

.panel{
	min-width: 345px;
}

.autocomplete-light-widget input,
.autocomplete-light-widget input:focus {
    width: 100% !important;
}

.autocomplete-light-widget {
    width: 310px !important;
}

#reason-list{
	margin-left: 20px;
}

form > .well {
	border: 1px solid;
	border-color: #666666;
}